#### Import Packages :

In [47]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline
from pandasql import sqldf

#### Read CSV File :

In [48]:
df_22 = pd.read_csv('2022.csv')
df_22.index.name = 'Index'
df_22.rename(columns = {'OFFENSE_DESCRIPTION':'Offense', 'YEAR':'Year', 'OFFENSE_CODE':'Code'}, inplace = True)

df_21 = pd.read_csv('2021.csv', dtype = object)
df_21.index.name = 'Index'
df_21.rename(columns = {'OFFENSE_DESCRIPTION':'Offense', 'YEAR':'Year', 'OFFENSE_CODE':'Code'}, inplace = True)

df_20 = pd.read_csv('2020.csv', dtype = object)
df_20.index.name = 'Index'
df_20.rename(columns = {'OFFENSE_DESCRIPTION':'Offense', 'YEAR':'Year', 'OFFENSE_CODE':'Code'}, inplace = True)

df_19 = pd.read_csv('2019.csv', dtype = object)
df_19.index.name = 'Index'
df_19.rename(columns = {'OFFENSE_DESCRIPTION':'Offense', 'YEAR':'Year', 'OFFENSE_CODE':'Code'}, inplace = True)

mysql = lambda q: sqldf(q, globals())

In [49]:
df_21.head()

,INCIDENT_NUMBER,Code,OFFENSE_CODE_GROUP,Offense,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,Year,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
Index,,,,,,,,,,,,,,,,,
0,PLTEST005,520,NaN,BURGLARY - RESIDENTIAL,B2,289,1,2021-10-13 00:00:00,2021,10,Wednesday,0,NaN,SCHROEDER PLZ,42.33367921810846,-71.09187754618458,"(42.33367921810846, -71.09187754618458)"
1,PLTEST003,3114,NaN,INVESTIGATE PROPERTY,B2,289,0,2021-05-12 00:00:00,2021,5,Wednesday,0,NaN,SCHROEDER PLZ,42.33367921810846,-71.09187754618458,"(42.33367921810846, -71.09187754618458)"
2,PLTEST002,3114,NaN,INVESTIGATE PROPERTY,B2,289,0,2021-05-12 00:00:00,2021,5,Wednesday,0,NaN,SCHROEDER PLZ,42.33367921810846,-71.09187754618458,"(42.33367921810846, -71.09187754618458)"
3,PLTEST001,3114,NaN,INVESTIGATE PROPERTY,B2,,0,2021-03-29 00:00:00,2021,3,Monday,0,NaN,SCHROEDER PLAZA,0,0,"(0, 0)"
4,312030979,3201,NaN,PROPERTY - LOST/ MISSING,E13,465,0,2021-03-22 00:00:00,2021,3,Monday,0,NaN,BLUE HILL AVE,42.28482576580488,-71.09137368938802,"(42.28482576580488, -71.09137368938802)"

#### Find List of Crimes :

In [55]:
np.sort(df_21.Offense.unique())

array(['AFFRAY', 'AIRCRAFT INCIDENTS', 'ANIMAL ABUSE',
       'ANIMAL INCIDENTS (DOG BITES, LOST DOG, ETC)', 'ARSON',
       'ASSAULT - AGGRAVATED', 'ASSAULT - SIMPLE', 'AUTO THEFT',
       'AUTO THEFT - LEASED/RENTED VEHICLE',
       'AUTO THEFT - MOTORCYCLE / SCOOTER', 'BALLISTICS EVIDENCE/FOUND',
       'BOMB THREAT', 'BREAKING AND ENTERING (B&E) MOTOR VEHICLE',
       'BREAKING AND ENTERING (B&E) MOTOR VEHICLE (NO PROPERTY STOLEN)',
       'BURGLARY - COMMERICAL', 'BURGLARY - RESIDENTIAL',
       'CHILD REQUIRING ASSISTANCE (FOMERLY CHINS)',
       'CONSPIRACY EXCEPT DRUG LAW', 'DANGEROUS OR HAZARDOUS CONDITION',
       'DEATH INVESTIGATION',
       'DISTURBING THE PEACE/ DISORDERLY CONDUCT/ GATHERING CAUSING ANNOYANCE/ NOISY PAR',
       'DRUGS - POSSESSION OF DRUG PARAPHANALIA',
       'DRUGS - POSSESSION/ SALE/ MANUFACTURING/ USE', 'DRUNKENNESS',
       'EMBEZZLEMENT', 'EVADING FARE', 'EXPLOSIVES - POSSESSION OR USE',
       'EXPLOSIVES - TURNED IN OR FOUND', 'EXTORTION OR BLACKMAIL',
       'FIRE REPORT', 'FIRE REPORT/ALARM - FALSE',
       'FIREARM/WEAPON - ACCIDENTAL INJURY / DEATH',
       'FIREARM/WEAPON - FOUND OR CONFISCATED', 'FIREARM/WEAPON - LOST',
       'FORGERY / COUNTERFEITING', 'FRAUD - CREDIT CARD / ATM FRAUD',
       'FRAUD - FALSE PRETENSE / SCHEME', 'FRAUD - IMPERSONATION',
       'FRAUD - WELFARE', 'FRAUD - WIRE', 'FUGITIVE FROM JUSTICE',
       'GRAFFITI', 'HARASSMENT/ CRIMINAL HARASSMENT',
       'HARBOR INCIDENT / VIOLATION', 'INJURY BICYCLE NO M/V INVOLVED',
       'INTIMIDATING WITNESS', 'INVESTIGATE PERSON',
       'INVESTIGATE PROPERTY', 'Justifiable Homicide',
       'KIDNAPPING/CUSTODIAL KIDNAPPING/ ABDUCTION', 'LANDLORD - TENANT',
       'LARCENY ALL OTHERS', 'LARCENY PICK-POCKET',
       'LARCENY PURSE SNATCH - NO FORCE', 'LARCENY SHOPLIFTING',
       'LARCENY THEFT FROM BUILDING',
       'LARCENY THEFT FROM COIN-OP MACHINE',
       'LARCENY THEFT FROM MV - NON-ACCESSORY',
       'LARCENY THEFT OF BICYCLE',
       'LARCENY THEFT OF MV PARTS & ACCESSORIES',
       'LICENSE PREMISE VIOLATION', 'LIQUOR LAW VIOLATION',
       'LIQUOR/ALCOHOL - DRINKING IN PUBLIC',
       'M/V - LEAVING SCENE - PERSONAL INJURY',
       'M/V - LEAVING SCENE - PROPERTY DAMAGE',
       'M/V ACCIDENT - INVOLVING BICYCLE - INJURY',
       'M/V ACCIDENT - INVOLVING BICYCLE - NO INJURY',
       'M/V ACCIDENT - INVOLVING PEDESTRIAN - INJURY',
       'M/V ACCIDENT - INVOLVING PEDESTRIAN - NO INJURY',
       'M/V ACCIDENT - OTHER', 'M/V ACCIDENT - OTHER CITY VEHICLE',
       'M/V ACCIDENT - PERSONAL INJURY', 'M/V ACCIDENT - POLICE VEHICLE',
       'M/V ACCIDENT - PROPERTY DAMAGE', 'M/V PLATES - LOST',
       'MANSLAUGHTER - NEGLIGENCE', 'MANSLAUGHTER - VEHICLE - NEGLIGENCE',
       'MISSING PERSON', 'MISSING PERSON - LOCATED',
       'MISSING PERSON - NOT REPORTED - LOCATED',
       'MURDER, NON-NEGLIGIENT MANSLAUGHTER',
       'NOISY PARTY/RADIO-NO ARREST', 'OBSCENE PHONE CALLS',
       'OPERATING UNDER THE INFLUENCE (OUI) ALCOHOL',
       'OPERATING UNDER THE INFLUENCE (OUI) DRUGS', 'OTHER OFFENSE',
       'POSSESSION OF BURGLARIOUS TOOLS',
       'PRISONER - SUICIDE / SUICIDE ATTEMPT',
       'PROPERTY - ACCIDENTAL DAMAGE', 'PROPERTY - FOUND',
       'PROPERTY - LOST THEN LOCATED', 'PROPERTY - LOST/ MISSING',
       'PROPERTY - STOLEN THEN RECOVERED', 'PROSTITUTION',
       'PROSTITUTION - SOLICITING', 'PROTECTIVE CUSTODY / SAFEKEEPING',
       'RECOVERED - MV RECOVERED IN BOSTON (STOLEN IN BOSTON) MUST BE SUPPLEMENTAL',
       'RECOVERED - MV RECOVERED IN BOSTON (STOLEN OUTSIDE BOSTON)',
       'ROBBERY', 'SEARCH WARRANT', 'SERVICE TO OTHER AGENCY',
       'SICK ASSIST', 'SICK ASSIST - DRUG RELATED ILLNESS',
       'SICK/INJURED/MEDICAL - PERSON', 'SICK/INJURED/MEDICAL - POLICE',
       'STOLEN PROPERTY - BUYING / RECEIVING / POSSESSING',
       'SUDDEN DEATH', 'SUICIDE / SUICIDE ATTEMPT',
       'THREATS TO DO BODILY HARM', 'TOWED MOTOR VEHICLE', 'TRESPASSING',
       'TRUANCY / RUNAWAY', 'VAL - OPERATING AFTER REV/SUSP.',
       'VAL - OPERATING W/O AUTHORIZATION LAWFUL',
       'VAL - VIOLATION OF AUTO LAW', 'VANDALISM', 'VERBAL DISPUTE',
       'VIOLATION - CITY ORDINANCE',
       'WARRANT ARREST - BOSTON WARRANT (MUST BE SUPPLEMENTAL)',
       'WARRANT ARREST - OUTSIDE OF BOSTON WARRANT',
       'WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TRAFFICKING/ OTHER'],
      dtype=object)

#### Get specific crimes using SQL :

In [51]:
query = '''
SELECT Offense, Year, Lat, Long FROM df_19
WHERE Offense LIKE 'LARCENY%' AND Lat <> 0
UNION ALL
SELECT Offense, Year, Lat, Long FROM df_20
WHERE Offense LIKE 'LARCENY%' AND Lat <> 0
UNION ALL
SELECT Offense, Year, Lat, Long FROM df_21
WHERE Offense LIKE 'LARCENY%' AND Lat <> 0
UNION ALL
SELECT Offense, Year, Lat, Long FROM df_22
WHERE Offense LIKE 'LARCENY%' AND Lat <> 0
ORDER BY Offense DESC;
'''
larceny = mysql(query)
larceny

,Offense,Year,Lat,Long
0,LARCENY THEFT OF MV PARTS & ACCESSORIES,2019,42.34275698309205,-71.04620602914363
1,LARCENY THEFT OF MV PARTS & ACCESSORIES,2019,42.357239852066684,-71.15571871808115
2,LARCENY THEFT OF MV PARTS & ACCESSORIES,2019,42.30559368102023,-71.05887860662811
3,LARCENY THEFT OF MV PARTS & ACCESSORIES,2019,42.28482576580488,-71.09137368938802
4,LARCENY THEFT OF MV PARTS & ACCESSORIES,2019,42.28482576580488,-71.09137368938802
...,...,...,...,...
22229,LARCENY ALL OTHERS,2022,42.305995,-71.11817
22230,LARCENY ALL OTHERS,2022,42.355123,-71.06088
22231,LARCENY ALL OTHERS,2022,42.361839,-71.059765
22232,LARCENY ALL OTHERS,2022,42.325586,-71.052217
22233,LARCENY ALL OTHERS,2022,42.346548,-71.042841